@{
    ViewBag.Title = "Поиск";
}
@using Website.Web.Models.DTO
@model Website.Web.Models.HomeViewModels.ItemViewModel

<div class="h2 my-3">Просмотр товара</div>

<div class="row">
    <div class="col-md-7">
        <div>
            <div class="img-box">
                <img id="image-view" src="@Model.Images?.FirstOrDefault(x => x.Primary)?.DataUrlOrPath" alt="Нет изображения"/>
                <span></span>
            </div>
            <div id="image-container" class="img-thumbs">
                @foreach (var item in Model.Images ?? Enumerable.Empty<ImageDto>())
                {
                    <img class="img-thumb" data-path="@item.DataUrlOrPath"
                         src="@item.DataUrlOrThumbPath"/>
                }
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <h3>@Model.Name</h3>
        <div class="table-responsive">
            <table class="table table-striped border">
                <tbody>
                @Html.DisplayForModel("TableDataRowDisplay", new {htmlAttributes = new {@class = "view"}})
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="item-categories my-2">
    <span class="h3 d-block">Категории</span>
    @foreach (var cat in Model.Categories ?? Enumerable.Empty<CategoryDto>())
    {
        <span class="font-weight-bold">@cat.Name</span>
        @Html.Raw(" : ")<span>@cat.Description</span>
        <br/>
    }
</div>
<div class="item-descriptions my-2">
    <span class="h3">Описания</span>
    @foreach (var descriptionGroup in Model.DescriptionGroups ?? Enumerable.Empty<DescriptionGroupDto>())
    {
        <span class="h6 d-block my-2">@descriptionGroup.Name</span>
        foreach (var item in descriptionGroup.DescriptionItems)
        {
            <span>@item.Name</span>
            @Html.Raw(" : ")<span>@item.DescriptionValue</span>
            <br/>
        }
    }
</div>