
@{
    ViewData["Title"] = "Калькулятор";
}
@using Website.Service.Enums
@model string
<div class="m-4">
    <span>@DtoState.Added.ToString().ToLower() @DtoState.Deleted @DtoState.Modified @DtoState.Unchanged</span>
    <textarea class="w-100" name="" id="myTextarea" cols="30" rows="10">@Model</textarea>
</div>

<div>
    <form class="m-4" asp-action="Form" enctype="multipart/form-data">
        <h5>form</h5>
        <input type="text" name="name" />
        <input type="number" name="number" />

        <h5>datas1</h5>
        <input type="text" name="datas[0].DataName" />
        <input type="file" multiple="" name="datas[0].files" />

        <h5>datas2</h5>
        <input type="text" name="datas[1].DataName" />
        <input type="file" multiple="" name="datas[1].files" />

        <button type="submit">отправить</button>
    </form>
</div>
