<div class="list-group text-truncate">
    <a class="list-group-item list-group-item-action @AdminNavPages.IndexNavClass(ViewContext)" asp-action="Index">Index</a>
    <a class="list-group-item list-group-item-action read-height @AdminNavPages.UsersNavClass(ViewContext)" asp-action="Users">Пользователи</a>
    <a class="list-group-item list-group-item-action read-height @AdminNavPages.ItemsNavClass(ViewContext)" asp-action="Items">Товары</a>
    <a class="list-group-item list-group-item-action @AdminNavPages.CategoriesNavClass(ViewContext)" asp-action="Categories">Категории товаров</a>
    <a class="list-group-item list-group-item-action @AdminNavPages.OrdersNavClass(ViewContext)" asp-action="Orders">Заказы</a>
</div>