@{
    ViewData["Title"] = "Категории";
    ViewData.AddActivePage(AdminNavPages.Categories);
}
@using Castle.Core.Internal
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Html
@using Website.Web.Infrastructure.TreeHelper
@model IEnumerable<Website.Web.Infrastructure.TreeHelper.CategoryDtoTreeItem>
@inject IAuthorizationService AuthorizationService

<h2>Категории</h2>
@if (!(TempData["Message"] as string).IsNullOrEmpty())
{
    <div class="alert alert-warning alert-dismissible">
        @TempData["Message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@{ var userCanEditAdd = (await AuthorizationService.AuthorizeAsync(User, "AddEditItems")).Succeeded; }
<div class="row">
    <div class="col-lg-6" style="overflow-y: auto; max-height: 35rem;">
        <div class="tree m-1">
            @GetTreeList(Model)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="mb-2">
            <form class="" id="edit-form" asp-controller="Admin" asp-action="EditCategory">
                <div>
                    <span class="h3">Информация о категории</span>
                    <span id="cat-view-controls" class="d-none" style="vertical-align: top">
                        @if (userCanEditAdd)
                        {
                            <span id="edit-cat" class="btn-pushy btn btn-outline-primary fa fa-pencil" style="vertical-align: top"></span>
                        }
                        @if ((await AuthorizationService.AuthorizeAsync(User, "DeleteItems")).Succeeded)
                        {
                            <span id="remove-cat" class="btn-pushy btn btn-outline-danger fa fa-remove" style="vertical-align: top"></span>
                        }
                    </span>
                    <span id="cat-edit-controls" class="d-none">
                        <button type="submit" class="btn-pushy btn btn-outline-success btn-sm" style="vertical-align: top">
                            <span id="save-edit-cat" class="mx-1 fa fa-check"></span>
                        </button>
                        <span id="cancel-edit-cat" class="btn-pushy btn btn-outline-primary fa fa-undo" style="vertical-align: top"></span>
                    </span>
                </div>
                <div id="view-edit-message" class="d-none"></div>
                <div class="mb-2">
                    <label for="cat-id-preview">Id:</label>
                    <input id="cat-id-preview" name="Id" class="form-control" readonly placeholder="Id" value="Выберите категорию для отображения информации">
                </div>
                <div class="mb-2">
                    <label for="cat-name-preview">Имя:</label>
                    <input id="cat-name-preview" name="Name" class="form-control cat-input-edit" readonly placeholder="Имя" value="Выберите категорию для отображения информации"
                           required data-val-required="Необходимо ввести имя категории." data-val="true">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                </div>
                <div class="mb-2">
                    <label for="cat-desc-preview">Описание (отображается только администраторам):</label>
                    <input id="cat-desc-preview" name="Description" class="form-control cat-input-edit" readonly placeholder="Описание (отображается только администраторам)" value="Выберите категорию для отображения информации">
                </div>
                <div class="mb-2">
                    <label for="cat-parent-preview">Родительская категория:</label>
                    <input id="cat-parent-preview" class="form-control cat-input-edit" readonly value="Выберите категорию для отображения информации">
                    <div id="edit-category-select-container" class="d-none">
                        <select id="edit-category-select" name="ParentId" class="selectpicker" data-live-search="true" data-live-search-normalize="true" data-live-search-style="contains"
                                data-style="btn-outline-primary edit-category-btn" title="Выбрать категорию" data-live-search-placeholder="Поиск">
                            <option value="">*отсутствует*</option>
                            @foreach (var cat in Model)
                            {
                                foreach (var item in TreeHelper.GetNodeAndChildren(cat))
                                {
                                    <option value="@item.Id" data-subtext="@item.Description">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </form>
        </div>
        @if (userCanEditAdd)
        {
            <div>
                <form class="" asp-controller="Admin" asp-action="AddCategory">
                    <div>
                        <span class="h3">Добавить категорию</span>
                        <button type="submit" class="btn-pushy btn btn-outline-success btn-sm">
                            <span id="add-cat" class=" fa fa-check"></span>
                        </button>
                        @* <span id="reset-cat" class="btn-pushy btn btn-outline-primary fa fa-undo"></span> *@
                    </div>
                    <input id="cat-name" name="Name" class="form-control my-2" placeholder="Имя" required data-val-required="Необходимо ввести имя категории." data-val="true">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                    <input id="cat-desc" name="Description" class="form-control my-2" placeholder="Описание (отображается только администраторам)">
                    <label class="d-block">Родительская категория:</label>
                    <select id="add-category-select" name="ParentId" class="selectpicker" data-live-search="true" data-live-search-normalize="true" data-live-search-style="contains"
                            data-style="btn-outline-primary add-category-btn" title="Выбрать категорию" data-live-search-placeholder="Поиск">
                        @foreach (var cat in Model)
                        {
                            foreach (var item in TreeHelper.GetNodeAndChildren(cat))
                            {
                                <option value="@item.Id" data-subtext="@item.Description">@item.Name</option>
                            }
                        }
                    </select>
                </form>
            </div>
        }
    </div>
</div>

@functions
{
    bool _firstCall = true;

    private IHtmlContent GetTreeList(IEnumerable<CategoryDtoTreeItem> categories)
    {
        var ul = new TagBuilder("ul");
        if (_firstCall)
        {
            ul.AddCssClass("list-group list-group-root");
            _firstCall = false;
        }
        else
        {
            ul.AddCssClass("list-group");
        }

        foreach (var category in categories)
        {
            var divExpanderWithName = new TagBuilder("div");

            divExpanderWithName.AddCssClass("list-group-item list-group-item-action category");
            divExpanderWithName.Attributes.Add("data-id", category.Id.ToString());
            divExpanderWithName.Attributes.Add("data-name", category.Name);
            divExpanderWithName.Attributes.Add("data-desc", category.Description);

            var name = new TagBuilder("span");
            name.AddCssClass("mx-2");
            name.InnerHtml.Append(category.Name);
            var icon = new TagBuilder("span");
            icon.AddCssClass("fa fa-minus category-expander");
            icon.Attributes.Add("href", "#category-" + category.Id);
            icon.Attributes.Add("data-toggle", "collapse");
            if (!category.Children.Any())
            {
                icon.Attributes.Add("style", "visibility: hidden");
            }
            divExpanderWithName.InnerHtml.AppendHtml(icon);
            divExpanderWithName.InnerHtml.AppendHtml(name);
            if (category.ProductCount.GetValueOrDefault() != 0)
            {
                var count = new TagBuilder("span");
                count.InnerHtml.Append("Продуктов: " + category.ProductCount.GetValueOrDefault());
                count.AddCssClass("badge");
                count.AddCssClass("badge-primary");
                count.Attributes.Add("onclick", $"location.href = 'Items?cat={category.Id}'");
                count.Attributes.Add("style","cursor: pointer;");
                divExpanderWithName.InnerHtml.AppendHtml(count);
            }

            var li = new TagBuilder("li");
            var innerList = GetTreeList(category.Children);

            li.InnerHtml.AppendHtml(innerList);
            li.Attributes.Add("id", "category-" + category.Id);
            li.AddCssClass("list-group collapse show");

            ul.InnerHtml.AppendHtml(divExpanderWithName);
            ul.InnerHtml.AppendHtml(li);
        }
        return ul;
    }

}