
@{
    ViewData["Title"] = "Удалить товар";
    TempData["DeleteToken"] = Guid.NewGuid();
}
@model DeleteItemModel

<h3>Вы действительно хотите удалить этот товар?</h3>
<h6>ID товара: @Model.Id</h6>
<h6>Наименование товара: @Model.Name</h6>
<h5 class="text-danger">Внимание: это действие необратимо, товар и все связанные с ним изображения и описания будут удалены, после удаление восстановить товар будет невозможно.</h5>
<h6 >Прим: товары доступные в магазине или в заказах удалить нельзя.</h6>
<form asp-action="DeleteItemConfirm" method="post">
    <input name="id" value="@Model.Id" hidden />
    <input class="btn btn-danger mx-2" type="submit" value="Удалить" />
    <a class="btn btn-outline-success" asp-action="ViewItem" asp-route-id="@Model.Id">Отмена</a>
    <input name="token" value="@TempData.Peek("DeleteToken")" hidden />
</form>