@{
    ViewData["Title"] = "Users";
    ViewData.AddActivePage(AdminNavPages.Users);
}

@model UsersViewModel

<form asp-action="Users" method="get">
    <div class="form-inline form-group">
        @*<label class="control-label">Поиск:&nbsp;</label>*@<input type="text" name="s" value="@Model.CurrentSearch" />
        @Html.DropDownList("st", Html.GetEnumSelectList<RoleSelector>())
        <input type="submit" value="Поиск" class="btn btn-default" />
        | <a asp-action="Users">Сброс</a>
    </div>
</form>
<table id="user-table" class="table responsive-table">
    <thead>
    <tr>
        <th class="col-sm-1"> 
            <sort-header action="Users" search="@Model.CurrentSearch" selector="@Model.Roles" descending="@Model.Descending" current="@Model.CurrentSortOrder"
                         property="Email" content="@Html.DisplayNameFor(x => x.users.First().Email)"/>
        </th>
        <th class="col-sm-1">@Html.DisplayNameFor(x => x.users.First().PhoneNumber)</th>
        <th class="col-sm-1">
            <sort-header action="Users" search="@Model.CurrentSearch" selector="@Model.Roles" descending="@Model.Descending" current="@Model.CurrentSortOrder"
                         property="LastName" content="@Html.DisplayNameFor(x => x.users.First().UserProfile.LastName)"/>
        </th>
        <th class="col-sm-1">
            <sort-header action="Users" search="@Model.CurrentSearch" selector="@Model.Roles" descending="@Model.Descending" current="@Model.CurrentSortOrder"
                         property="FirstName" content="@Html.DisplayNameFor(x => x.users.First().UserProfile.FirstName)"/>
        </th>
        <th class="col-sm-1">
            <sort-header action="Users" search="@Model.CurrentSearch" selector="@Model.Roles" descending="@Model.Descending" current="@Model.CurrentSortOrder"
                         property="PatrName" content="@Html.DisplayNameFor(x => x.users.First().UserProfile.PatrName)"/>
        </th>
        <th class="col-sm-1">@Html.DisplayNameFor(x => x.users.First().UserProfile.City)</th>
        <th class="col-sm-1" >Количество заказов</th>
        <th class="col-sm-1" >
            <sort-header action="Users" search="@Model.CurrentSearch" selector="@Model.Roles" descending="@Model.Descending" current="@Model.CurrentSortOrder"
                         property="RegistrationDate" content="@Html.DisplayNameFor(x => x.users.First().UserProfile.RegistrationDate)"/>
        </th>
        <th class="col-sm-1">
            <sort-header action="Users" search="@Model.CurrentSearch" selector="@Model.Roles" descending="@Model.Descending" current="@Model.CurrentSortOrder"
                         property="LastActivityDate" content="@Html.DisplayNameFor(x => x.users.First().LastActivityDate)"/>
        </th>
        <th class="col-sm-1"></th>
    </tr>
    </thead>
    <tbody class="tab-content">
    @foreach (var user in Model.users)
    {
        <tr>
            <td>@Html.DisplayFor(m => user.Email)</td>
            <td>@Html.DisplayFor(m => user.PhoneNumber)</td>
            <td>@Html.DisplayFor(m => user.UserProfile.LastName)</td>
            <td>@Html.DisplayFor(m => user.UserProfile.FirstName)</td>
            <td>@Html.DisplayFor(m => user.UserProfile.PatrName)</td>
            <td>@Html.DisplayFor(m => user.UserProfile.City)</td>
            <td>100500</td>
            <td>@if (user.UserProfile.RegistrationDate.HasValue)
                {
                    @Html.DisplayFor(m => user.UserProfile.RegistrationDate.Value.DateTime)
                }</td>
            <td>@if (user.LastActivityDate.HasValue)
                {
                    @Html.DisplayFor(m => user.LastActivityDate.Value.DateTime)
                }</td>
            <td><a asp-action="ViewUser" asp-route-id="@user.Id">Подробнее</a> | <a asp-action="EditUser" asp-route-id="@user.Id"><span class="glyphicon glyphicon-pencil"></span></a></td>
        </tr>
    }
    </tbody>
</table>
<page-link current-page="@Model.CurrentPage" search="@Model.CurrentSearch" selector="@Model.Roles" current-prop="@Model.CurrentSortOrder"
           items-count="@Model.ItemCount" items-per-page="@Model.CountPerPage" action="Users"/>
