@{
    ViewData["Title"] = "Users";
    ViewData.AddActivePage(AdminNavPages.Users);
}

@using System.Globalization
@model IEnumerable<UserDTO>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
            <th>@Html.DisplayNameFor(model => model.UserProfile.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.UserProfile.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.UserProfile.City)</th>
            <th>Количество заказов</th>
            <th>@Html.DisplayNameFor(model => model.UserProfile.RegistrationDate)</th>
            <th>@Html.DisplayNameFor(model => model.LastActivityDate)</th>
        </tr>
    </thead>
    <tbody class="tab-content">
        @foreach (var user in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => user.UserName)</td>
                <td>@Html.DisplayFor(m => user.Email)</td>
                <td>@Html.DisplayFor(m => user.PhoneNumber)</td>
                <td>@Html.DisplayFor(m => user.UserProfile.LastName)</td>
                <td>@Html.DisplayFor(m => user.UserProfile.FirstName)</td>
                <td>@Html.DisplayFor(m => user.UserProfile.City)</td>
                <td>100500</td>
                <td>@Html.DisplayFor(m => user.UserProfile.RegistrationDate)</td>
                <td>@Html.DisplayFor(m => user.LastActivityDate)</td>
            </tr>
        }
    </tbody>
</table>




