@{
    ViewData["Title"] = "Просмотр пользователя";
}
@using Castle.Core.Internal
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model UserViewModel

<h2>Просмотр пользователя</h2>
@if (!(TempData["Message"] as string).IsNullOrEmpty())
{
    <div class="alert alert-success alert-dismissible">
        @TempData["Message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if ((await AuthorizationService.AuthorizeAsync(User, "EditUsers")).Succeeded){
    <a class="btn btn-outline-primary my-2" asp-area="" asp-route-id="@Model.Id" asp-action="EditUser">Редактировать</a>
}
@if ((await AuthorizationService.AuthorizeAsync(User, "DeleteUsers")).Succeeded){
    TempData["DeleteToken"] = Guid.NewGuid();
    <form class="d-inline-block" asp-action="DeleteUser" method="get">
        <input class="btn btn-outline-danger mr-2" type="submit" value="Удалить"/>
        <input asp-for="Id" hidden/>
        <input name="DeleteToken" value="@TempData.Peek("DeleteToken")" hidden/>
    </form>
}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="w-25" scope="col">Параметр</th>
            <th scope="col">Значение</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Права доступа</th>
            <td>
                <label class="m-0">@(Model.Role == "admin" ? "Администратор" : "Пользователь")</label>
                @if (Model.Role == "admin")
                {
                    <div class="admin-options">
                        <user-claims name="newClaims" display="Пользователи:" actions="view edit delete" claims="@Model.CurrentClaims" view-only="true" />
                        <user-claims name="newClaims" display="Товары:" actions="view edit delete" claims="@Model.CurrentClaims" view-only="true" />
                        <user-claims name="newClaims" display="Заказы:" actions="view edit delete" claims="@Model.CurrentClaims" view-only="true" />
                    </div>
                }
            </td>
        </tr>
        @Html.DisplayForModel("TableDataRowDisplay", new { htmlAttributes = new { @class = "admin-view" } })
        </tbody>
    </table>
</div>