@{
    ViewData["Title"] = "Просмотр пользователя";
}
@using Castle.Core.Internal
@model UserViewModel

<h2>Просмотр пользователя</h2>
@if (!(TempData["Message"] as string).IsNullOrEmpty())
{
    <div class="alert alert-success">@TempData["Message"]</div>
}
<a class="btn btn-outline-primary my-2" asp-area="" asp-route-id="@Model.Id" asp-action="EditUser">Редактировать</a>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="w-25" scope="col">Параметр</th>
            <th scope="col">Значение</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"><label>Права доступа</label></th>
            <td>
                <label class="m-0">@(Model.Role == "admin" ? "Администратор" : "Пользователь")</label>
                @if (Model.Role == "admin")
                {
                    <div class="admin-options">
                        <user-claims name="newClaims" display="Пользователи:" actions="view edit delete" claims="@Model.CurrentClaims" view-only="true" />
                        <user-claims name="newClaims" display="Товары:" actions="view edit delete" claims="@Model.CurrentClaims" view-only="true" />
                        <user-claims name="newClaims" display="Заказы:" actions="view edit delete" claims="@Model.CurrentClaims" view-only="true" />
                    </div>
                }
            </td>
        </tr>
        @Html.DisplayForModel("TableDataRowDisplay", new { htmlAttributes = new { @class = "admin-view" } })
        </tbody>
    </table>
</div>