
@{
    ViewData["Title"] = "Панель администратора - Просмотр товара";
}
@using Castle.Core.Internal
@model ItemViewModel
<div class="input-group mb-2">
    <span class="h2 mb-0">Просмотр товара</span>
    <a class="btn btn-outline-primary mx-2" asp-action="EditItem" asp-route-id="@Model.Id">Редактировать</a>
</div>
@if (!(TempData["Message"] as string).IsNullOrEmpty())
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<div class="row">
    <div class="col-md-7">
        <div>
            <div class="admin-img-box">
                <img id="admin-image-view" src="@Model.Images?.FirstOrDefault(x => x.Primary)?.PathSrc" alt="Нет изображения" />
                <span></span>
            </div>
            <div id="image-container" class="admin-img-thumbs">
                @foreach (var item in Model.Images ?? Enumerable.Empty<ProductImageDto>())
                {
                    <img class="admin-img-thumb" data-path="@item.PathSrc" src="@item.ThumbPathSrc" />
                }
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <h3>@Model.Name</h3>
        <table class="table table-striped border">
            <thead>
                <tr>
                    <th scope="col">Параметр</th>
                    <th scope="col">Значение</th>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayForModel("TableDataRowDisplay", new { htmlAttributes = new { @class = "admin-view" } })
            </tbody>
        </table>
    </div>
</div>
<div>
    <h3>Категории</h3>
    @foreach (var cat in Model.Categories)
    {
        <span>@cat.Name</span>@Html.Raw(" : ")<span>@cat.Description</span><br />
    }
</div>
<div class="admin-item-descriptions">
    <h3>Описания</h3>
    @foreach (var descriptionGroup in Model.Descriptions)
    {
        <h6>@descriptionGroup.Name</h6>
        foreach (var item in descriptionGroup.Items)
        {
            <span>@item.Name</span>@Html.Raw(" : ")<span>@item.Value</span><br />
        }
    }
</div>
