@{
    ViewData["Title"] = "Просмотр товара";
}
@using Castle.Core.Internal
@using Website.Web.Models.DTO
@model ItemViewModel
<div class="mb-2">
    <span class="h2 d-inline-block">Просмотр товара</span>
    <a class="btn btn-outline-primary mx-2" asp-action="EditItem" asp-route-id="@Model.Id">Редактировать</a>
</div>
@if (!(TempData["Message"] as string).IsNullOrEmpty())
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<div class="row">
    <div class="col-md-7">
        <div>
            <div class="admin-img-box">
                <img id="admin-image-view" src="@Model.Images?.FirstOrDefault(x => x.Primary)?.PathSrc" alt="Нет изображения"/>
                <span></span>
            </div>
            <div id="image-container" class="admin-img-thumbs">
                @foreach (var item in Model.Images ?? Enumerable.Empty<ProductImageDto>())
                {
                    <img class="admin-img-thumb" data-path="@item.PathSrc" src="@item.ThumbPathSrc"/>
                }
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <h3>@Model.Name</h3>
        <div class="table-responsive">
            <table class="table table-striped border">
                <thead>
                <tr>
                    <th scope="col">Параметр</th>
                    <th scope="col">Значение</th>
                </tr>
                </thead>
                <tbody>
                @Html.DisplayForModel("TableDataRowDisplay", new {htmlAttributes = new {@class = "admin-view"}})
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <span class="h3 d-block">Категории</span>
    @foreach (var cat in Model.Categories ?? Enumerable.Empty<CategoryDto>())
    {
        <span>@cat.Name</span>
        @Html.Raw(" : ")<span>@cat.Description</span>
        <br/>
    }
</div>
<div class="admin-item-descriptions">
    <span class="h3">Описания</span>
    @foreach (var descriptionGroup in Model.Descriptions ?? Enumerable.Empty<DescriptionGroupDto>())
    {
        <span class="h6 d-block my-2">@descriptionGroup.Name</span>
        foreach (var item in descriptionGroup.Items)
        {
            <span>@item.Name</span>
            @Html.Raw(" : ")<span>@item.DescriptionValue</span>
            <br/>
        }
    }
</div>
