
@{
    ViewData["Title"] = "Панель администратора - Просмотр товара";
}

@using System.IO
@model ProductDTO

<h2>Просмотр товара</h2>

<div class="admin-product-view">
    <div class="col-md-12">
        <h3>@Model.Name</h3>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-sm-3">Параметр</th>
                    <th class="col-sm-7">Значение</th>
                </tr>
            </thead>
            <tbody class="tab-content">
                @Html.DisplayForModel("TableDataRowDisplay")
            </tbody>
        </table>
        <div class="admin-item-descriptions">
            @foreach (var descriptionGroup in Model.Descriptions)
            {
                <h3>@descriptionGroup.Name</h3>
                foreach (var item in descriptionGroup.Items)
                {
                    <span>@item.Name</span>@Html.Raw(" : ")<span>@item.Value</span><br />
                }
            }
        </div>
    </div>
    <div class="col-md-6">
        <div class="admin-product-images">

            <div class="admin-img-box">
                <img id="item-image-view" src="@Model.Images.FirstOrDefault(x=>x.Primary)?.Path" width="300" height="300" />
            </div>
            <div class="admin-img-thumbs">
                @foreach (var item in Model.Images)
                {
                    <img class="admin-img-thumb" src="@item.ThumbPath" onclick="image_select(this)" width="100" height="100" />
                }
            </div>

        </div>
    </div>

</div>
